body {
  padding: 50px;
  text-align: center;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: normal;
}

a {
  color: #3e7e61;
}

#signUpBtn {
  margin-top: 20px;
  border: 1px solid black;
  font-size: 24px;
}

#signUpBtn:active {
  border: 1.5px solid #284e37;
  color: #284e37;
}

#signUpBtn:focus {
  outline: none;
}

.signUp {
  border: 5px double #28284e;
  border-radius: 5px;
  padding: 5%;
  margin: 5%;
  background-color: white;
  -webkit-box-shadow: 7px 7px 53px 6px rgba(143,143,143,1);
  -moz-box-shadow: 7px 7px 53px 6px rgba(143,143,143,1);
  box-shadow: 7px 7px 53px 6px rgba(143,143,143,1);
  
}
.signUp:hover {
  border: 5px double #284e37;
}

img {
  height: 75px;
  width: 75px;
  border-radius: 15px;
  margin: -30px 5% -15px 90%;
}

img:hover {
animation: 1s wiggle ease infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(-3deg);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
  }
}
