body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hello {
  border: 5px double #28284e;
  border-radius: 5px;
  padding: 10px 10px 300px 10px;
}
